
.CoinTableRow {
	padding: 6px 5px;
	color: #fff;

	td {
		padding: 10px;
		font-family: inherit;
		vertical-align: middle;
		text-align: center;
		font-weight: 500;
	}

	.rank {
		border-right: 2px solid #1F2330;
	}

	.bigColumn {
		display: flex;
		align-items: center;
	}

	.icon {
		width: 35px;
		height: 32px;
		object-fit: contain;

		padding-right: 10px;
	}

	.starIconSelected {
		width: 28px;
		height: 28px;

		&:hover {
			cursor: pointer;
		}
	}

	.starIcon {
		width: 28px;
		height: 25px;
		fill: #d1d1d1;

		&:hover {
			cursor: pointer;
			fill: #fb0;
		}
	}

	.loader {
		margin: 0 auto;
		width: 28px;
		height: 25px;
	}

	.name {
		padding-right: 10px;
		text-align: left;

		text-overflow: ellipsis;
		overflow: hidden; 
		max-width: 160px; 
		height: 1.2em; 
		white-space: nowrap;
	}

	.symbol {
		color: var(--primary-text-color);
		font-weight: 600;

		border: 1px solid none;
		border-radius: 3px;
		background-color: var(--accent-color);
		
		height: fit-content;
		width: fit-content;
		padding: 2px 3px;
	}

	.positive {
		color: var(--color-green);
	}

	.negative {
		color: var(--color-red);
	}
}

.CoinTableRow:nth-child(odd) {
	background-color: #1A1E2A;
}