.starIconSelected {
	width: 28px;
	height: 28px;

	&:hover {
		cursor: pointer;
	}
}

.starIcon {
	width: 28px;
	height: 25px;
	fill: #d1d1d1;

	&:hover {
		cursor: pointer;
		fill: #fb0;
	}
}

.loader {
	margin: 0 auto;
	width: 28px;
	height: 25px;
}