API_KEY='coinranking_api'
CURRENCY_API_KEY='fca_live_currency_api_key'
CURRENCY_LINK='https://api.freecurrencyapi.com/v1/latest?apikey=API_KEY'
CONVERTER_LINK='https://api.coinconvert.net/convert/COIN_FROM/COIN_TO?amount=AMOUNT'

FIREBASE_API_KEY='firebase_api_key'
FIREBASE_AUTH_DOMAIN='firebase_auth_domain'
FIREBASE_PROJECT_ID='firebase_project_id'
FIREBASE_STORAGE_BUCKET='firebase_storage_bucket'
FIREBASE_MESAGGING_SENDER_ID='firebase_mesagging_sender_id'
FIREBASE_APP_ID='firebase_app_id'
FIREBASE_MEASUREMENT_ID='firebase_measurement_id'