
.WatchListItemOverview {
	display: flex;
	flex-direction: column;
	position: relative;

	min-width: 540px;
	background-color: #0d0d0d;
	border-radius: 0 0 16px 16px;
	color: var(--primary-text-color);
}

.header {
	padding: 24px 32px;
	border-bottom: 2px solid #1F2330;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.coinInfo {
	display: flex;
	align-items: center;
	gap: 16px;
}

.icon {
	width: 56px;
	height: 56px;
	border-radius: 14px;
}

.name {
	margin: 0;
	font-size: 24px;
	color: var(--primary-text-color);
}

.symbol {
	color: var(--secondary-text-color);
	font-size: 16px;
}

.rank {
	padding: 6px 8px;

	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;

	border-radius: 6px;
	background-color: var(--orange-color);
}

.stats {
	display: flex;
	flex-direction: column;

	padding: 16px 14px;

	background-color: #0d0d0d;
	margin-bottom: 20px;
	border-bottom: 2px solid #1F2330;
}

.statsTitle {
	margin-bottom: 14px;
}

.statsSection {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;

	&:last-child {
		margin-bottom: 0;
	}
}

.positive {
	color: var(--color-green);
}

.negative {
	color: var(--color-red);
}
