.HistoryList {
	display: flex;
	align-items: center;
	flex-direction: column;

	min-width: 440px;
	max-height: 520px;
	padding: 0 5px;
	overflow-y: auto;
}

.header {
	display: flex;
	justify-content: space-between;
	width: 100%;

	margin-bottom: 14px;
}

.title {
	font-size: 28px;
	font-weight: 600;
	color: var(--primary-text-color);
}

.emptyMsg {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	gap: 8px;
	margin: 14px 0;
}

.emptyIcon {
	fill: var(--secondary-text-color)
}

.emptyTitle {
	font-size: 22px;
	font-weight: 600;
	color: var(--secondary-text-color);
}

.skeletonItem {
	margin-bottom: 12px;
}

.clearBtn {
	background-color: var(--accent-color);
	transition: opacity .2s linear;

	&:hover {
		opacity: .8;
	}
}