
.Button {
	border: none;
	padding: 4px;
	color: #fff;

	font-size: inherit;
	font-weight: 600;

	&:hover {
		cursor: pointer;
	}
}

.disabled {
	opacity: .5;

	&:hover {
		cursor: default;
	}
}

.primary,
.secondary,
.white,
.red {
	border-radius: 8px;

	font-weight: 600;
}

.primary {
	color: #ffff;
	background-color: #363636;
}

.secondary {
	color: #ffff;
	background-color: var(--accent-color);
}

.white {
	color: #000;;
	background-color: #FDFDFD;
}

.red {
	color: #ffff;
	background-color: var(--orange-color);
}

.clear {
	border: none;
	padding: 0;
	background: none;
}

.sm {
	font-size: 14px;
	padding: 6px 14px;
	border-radius: 6px
}

.md {
	padding: 8px 34px;
	font-size: 16px;
}

.lg {
	font-size: 18px;
	padding: 10px 36px;
}