
.Page {
	height: calc(100vh - var(--navbar-height));
	width: 100%;
	padding: 25px 0;

	overflow-y: scroll;

	display: flex;
	flex-direction: column;

	background-color: var(--page-bg-color);
	color: #fff;
}