
.ConverterPage {
	display: flex;
	justify-content: center;
	align-items: center;
}

.history {
	display: flex;
	justify-content: center;
	align-items: center;
}

.historyIcon {
	width: 22px;
	height: 22px;

	margin-right: 4px;
}

.historyBtn {
	color: #737E8D;
}