.WatchListItem {
	display: flex;
	align-items: center;
	justify-content: space-between;

	min-height: 62px;
	min-width: 500px;

	padding: 10px 14px;
	margin-bottom: 10px;

	box-shadow: rgb(0 0 0 / 8%) 0 8px 12px;
	border-radius: 4px;
	background-color: #0d0d0d;
	color: #fff;
}

.itemData {
	display: flex;
	align-items: center;
}

.itemActions {
	display: flex;
	align-items: center;

	height: 100%;
}

.icon {
	width: 30px;
	height: 30px;
	margin-right: 12px;

	object-fit: contain;
}

.name {
	font-weight: 600;
	font-size: 18px;

	margin-right: 8px;
}

.symbol {
	display: block;
	border: 1px solid grey;
	padding: 1px;
	height: fit-content;
}

.infoBtn {
	display: flex;
	align-items: center;
	margin-right: 10px;
}

.infoIcon {
	width: 20px;

	margin-right: 5px;
}

.starIcon {
	width: 28px;

	margin-right: 10px;
}

.dndBtn {
	width: 25px;
	line-height: 0.6;
	font-size: 13px;
	color: grey;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	background-color: var(--page-bg-color)!important;
	padding: 6px 4px!important;
	border-radius: 4px; 

	&:hover {
		cursor: grab;
	}

	span {
		width: 45%;
	}
}