
.Message {
	text-align: center;
	color: #262626;

	border-radius: 6px;
	padding: 15px 16px;
	position: relative;
	min-width: 320px;

	.title {
		margin-bottom: 8px;	
	}

	.text {
		font-size: 21px;
		font-weight: 600;
	}
}

.icon {
	position: absolute;
	top: 10px;
	left: 10px;
	transform: scale(1.2);
}

.warn {
	background-color: #ff6f00;
}

.error {
	background-color: var(--color-red);
}

.success {
	background-color: var(--color-green);
}