.Input {
	display: flex;
	align-items: center;

	width: 100%;
	background-color: #454545;

	padding: 10px;

	font-size: 16px;
	font-weight: 400;
	color: #717171;
}

.Input,
.InputField {
	transition:
		border .1s linear,
		color .2s ease-in,
		background-color .2s ease-in
}

.InputField {
	border: none;
	background-color: #454545;
	margin: 0 3px;
	flex-grow: 1;

	font-family: inherit;
	font-size: inherit;
	color: inherit;


	&:focus {
		outline: none;
		background-color: #717171;
		color: #FDFDFD;

		&::placeholder {
			color: #FDFDFD;
		}
	}
}
