.coinsSelector {
	display: flex;
	justify-content: center;
	align-items: center;

	&:hover {
		cursor: pointer;
	}
}

.fromIcon {
	width: 24px;
	height: 24px;

	margin-right: 8px;
}

.fromSymbol {
	font-weight: 600;
}

.arrow {
	margin-left: 8px;
}