
.CoinsList {
	display: flex;
	flex-direction: column;
}

.listItem {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.icon {
	width: 38px;
	margin-right: 12px;
}

.itemData {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.name {
	margin-right: 5px;
	font-size: 18px;
	margin-bottom: 4px;
}

.symbol {
	font-size: 14px;
	font-weight: 800;
}