
.Button {
	border: none;
	padding: 4px;
	color: #fff;

	font-size: inherit;
	font-weight: 600;

	&:hover {
		cursor: pointer;
	}
}


.primary,
.secondary {
	padding: 8px 34px;
	border-radius: 8px;

	font-weight: 600;
}

.primary {
	color: #fff;
	background-color: #363636;
}

.secondary {
	color: #000;
	background-color: #FDFDFD;
}

.clear {
	border: none;
	padding: none;
	background: none;
}

.disabled {
	opacity: .5;

	&:hover {
		cursor: default;
	}
}