
.CoinsPage {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.topBar {
	background-color: #161922;
	border-radius: 16px;
	padding: 20px 24px;
	margin-bottom: 24px;
	border: 1px solid #1F2330;
	box-shadow: 0 10px 30px -10px rgba(99, 102, 241, 0.15),
		0 4px 8px -2px rgba(0, 0, 0, 0.4);

	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 16px;

	width: 85%;
}

.actions {
	height: 100%;

	display: flex;
	align-items: center;
	gap: 12px;
}

.resetBtn {
	background-color: #1A1E2A;
	border: 1px solid #1F2330;

	border-radius: 12px;
	transition: all 0.25s ease;
	cursor: pointer;

	&:hover {
		background-color: #1F2338;
		color: #6366F1;

		.resetIcon {
			transform: rotate(45deg);
		}
	}
}

.resetIcon {
	width: 24px;
	height: 24px;
	transition: transform .2s linear;
}