
.Page {
	height: calc(100vh - var(--navbar-height));
	width: 100%;
	padding: 25px 0;

	overflow-y: scroll;

	display: flex;
	flex-direction: column;

	background-color: var(--page-bg-color);
	color: #fff;
}

.scrollBtn {
	position: absolute;
	bottom: 28px;
	right: 5px;

	background-color: #454545!important;
	opacity: 0.7;
	transition: opacity .3s linear;

	&:hover {
		opacity: 1;
	}
}

.arrowIcon {
	width: 55px;
	height: 35px;

	transform: rotate(90deg);
}