
.CoinItem {
	padding: 5px 6px;
	color: #fff;

	th {
		padding: 10px;
	}

	.rank {
		border-right: 1px solid black;
	}

	.bigColumn {
		display: flex;
		align-items: center;
	}

	.icon {
		width: 35px;
		height: 32px;
		object-fit: contain;

		padding-right: 10px;
	}

	.starIconSelected {
		width: 28px;
		height: 28px;

		&:hover {
			cursor: pointer;
		}
	}

	.starIcon {
		width: 28px;
		height: 25px;
		fill: #d1d1d1;

		&:hover {
			cursor: pointer;
			fill: #fb0;
		}
	}

	.name {
		padding-right: 10px;
	}

	.symbol {
		display: block;
		border: 1px solid grey;
		padding: 1px;
		height: fit-content;
	}

	.positive {
		color: #9ac555;
	}

	.negative {
		color: #e55161;
	}
}
