
.table {
	border-collapse: collapse;
	border: 1px solid var(--table-border-color);
	box-shadow: 0 0 20px #0000001a;

	margin-top: 40px;
	width: 85%;

	background-color: var(--table-bg-color);
	color: #fff;
}

.fullWidth {
	width: 100%;
}

.tableSkeleton {
	margin-top: 0;
}

.loading {
	border-collapse: separate;
	border-spacing: 15px;
	border-top: none;

	.colHeader {
		padding: 2px 0;
		margin: 0 auto;
	}

	.colHeader:first-child {
		border-right: none;
	}

	.loadingRow td {
		padding-bottom: 5px;
	}

	.loadingRow td:last-child {
		display: flex;
		justify-content: center;
		align-items: center;		
	}
}

.errorMsg {
	margin-top: 10px;
	width: 85%;
}

.colHeader {
	padding: 15px 0;
	border-bottom: 1px solid var(--table-border-color);
	color: grey;
}

.colHeader:nth-child(1) {
	border-right: 1px solid black;
	justify-content: start;
	padding-left: 12px;
}

.headerItem {
	display: flex;
	justify-content: center;
	align-items: center;
}

.errorMsg {
	margin-top: 140px;
	text-align: center;
	color: #262626;
	border-radius: 6px;
	padding: 16px 14px;

	background-color: #ff4d4d;

	.errorTitle {
		margin-bottom: 5px;	
	}

	.errorText {
		font-weight: 600;
	}
}