
.PageRequierAuth {
	display: flex;
	justify-content: center;
	align-items: center;
}

.lockIcon {
	fill: #b9b3b3;
	width: 8rem;
	height: 4rem;
}

.header {
	margin: 12px 0;
}

.redirectText {
	margin-bottom: 8px;
	font-weight: 700;
}

.text {
	margin-bottom: 5px;
	max-width: 450px;
	color: #a3a0a0;
	text-align: center;
}