
.CoinItem {
	padding: 5px 6px;
	color: #fff;

	td {
		padding: 10px;
		font-family: inherit;
		text-align: center;
		font-weight: 500;
	}

	.rank {
		border-right: 1px solid black;
	}

	.bigColumn {
		display: flex;
		align-items: center;
	}

	.icon {
		width: 35px;
		height: 32px;
		object-fit: contain;

		padding-right: 10px;
	}

	.starIconSelected {
		width: 28px;
		height: 28px;

		&:hover {
			cursor: pointer;
		}
	}

	.starIcon {
		width: 28px;
		height: 25px;
		fill: #d1d1d1;

		&:hover {
			cursor: pointer;
			fill: #fb0;
		}
	}

	.loader {
		margin: 0 auto;
		width: 28px;
		height: 25px;
	}

	.name {
		padding-right: 10px;
		text-align: left;

		text-overflow: ellipsis;
		overflow: hidden; 
		max-width: 160px; 
		height: 1.2em; 
		white-space: nowrap;
	}

	.symbol {
		display: block;
		border: 1px solid grey;
		padding: 1px;
		height: fit-content;
	}

	.positive {
		color: #9ac555;
	}

	.negative {
		color: #e55161;
	}
}