
.Navbar {
	height: var(--navbar-height);
	width: 100%;
	padding: 0 25px;

	display: flex;
	justify-content: flex-end;
	align-items: center;

	background-color: var(--navbar-bg-color);
	color: #fff;

	.actions {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 15px;
	}
}