:root {
	--navbar-height: 60px;
	--sidebar-width: 220px;
	--sidebar-width-collapsed: 90px;


	--navbar-bg-color: #191919;
	--sidebar-bg-color: #24484E;
	--page-bg-color: #252525;
	--table-bg-color: #191919;
	--table-border-color: #080808;

	--orange-color: #FD4648;
}