.Chart {
	border-top: 1px solid #0F121A;
	background-color: #0F121A;
	padding-top: 16px;
	overflow: hidden;
	border-radius: 16px;
}

.chartTitle {
	margin: 0 0 20px 14px;
	font-size: 22px;
	color: var(--primary-text-color);
}