
.Sidebar {
	width: var(--sidebar-width);
	//height: calc(100vh - var(--navbar-height));
	height: 100vh;

	background-color: var(--sidebar-bg-color);
}

.menu {
	display: flex;
	flex-direction: column;
}