
.CoinsList {
	display: flex;
	flex-direction: column;
	gap: 10px;

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	max-width: 530px;

	background-color: #161922;
	overflow-y: scroll;
	padding: 24px 20px;
	border-radius: 10px;

	transition: transform .3s ease-in-out;
	transform: translateY(100%);
}

.isShow {
	transform: translateY(0);
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 12px;
}

.title {
	font-size: 28px;
	font-weight: 600;
	color: var(--primary-text-color);
}

.close {
	font-size: 34px;
	font-weight: 500;
	color: var(--primary-text-color);
	padding: 0;
	transition: color .2s linear;

	&:hover {
		cursor: pointer;
		color: var(--accent-color)
	}
}
