@use "sass:color";

.SidebarItem {
	display: flex;
	align-self: stretch;
	align-items: center;
	gap: 8px;

	margin-bottom: 8px;
	padding: 6px 12px;
	border-radius: 4px;

	transition: .1s linear background-color;

	&:hover {
		// background-color: darken(#24484E, 7%);
		background-color: color.adjust(#24484E, $lightness: -7%);
	}
}

.icon {
	fill: #fff;
	padding: 0;

	width: 24px;
	height: 24px;
}