
.ProfileCard {
	position: relative;

	padding-bottom: 30px;

	height: 100%;
	display: flex;
}

.profileImage {
	max-width: 185px;
	max-height: 205px;
	border-radius: 5px;

	width: 100%;
	height: 100%;
	
	object-fit: cover;
	margin-right: 25px;
}

.data {
	display: flex;
	flex-direction: column;
	gap: 14px;
}


.dataWrapper {
	display: flex;
	gap: 18px;
}

.dataItem {
	display: flex;
	flex-direction: column;
	gap: 4px;

	max-width: 245px;
	width: 100%;

	margin-bottom: 15px;
} 

.dataText {
	color: #FDFDFD;
	padding: 0 2px;
}

.dataInput {
	margin: 4px 0 0;
}

.inputField {
	color: #fff;

	&::placeholder {
		color: #fff;
	}
} 

.profileActions {
	position: absolute;
	right: 0;
	bottom: 0;

	display: flex;
	flex-direction: row;
	gap: 20px;
}

.error {
	position: relative;

	display: flex;
	align-items: center;
	flex-direction: center;

	&:hover {
		.errorMsg {
			transform: scale(1);
		}
	}
}

.errorMsg {
	position: absolute;
	top: -8px;
	left: 16px;
	width: 225px;

	color: #fff;
	background-color: none;
	
	transition: transform .2s linear;
	transform: scale(0);

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.errorIcon {
	fill: red;

	&:hover {
		cursor: pointer;
	}
}


.verifyBtn {
	
	&:hover {
		text-decoration: underline;
	}

}