.coinItemWrapper {
	list-style-type: none;
}

.coinItem {
	display: flex;
	align-items: center;

	padding: 8px 12px;
	margin-bottom: 2px;

	background-color: #F5F6F7;
	border-radius: 5px;
	transition: background .2s linear;

	&:hover {
		background-color: #EBEDEF;
		cursor: pointer;
	}

	&::after {
		content: '';
		display: block;
		background-color: rgb(2 20 49 / 8%);
		width: calc(100% - 58px);
		height: 2.5px;

		position: absolute;
		bottom: 0;
		right: 0;
	}

	position: relative;
}

.icon {
	width: 34px;
	margin-right: 12px;
}

.coinData {
	display: flex;
	flex-direction: column;
}

.symbol {
	font-weight: 600;
}

.checkMark {
	font-weight: 600;
	font-size: 22px;

	position: absolute;
	top: 22%;
	right: 16px;
}