.CoinItem {
	list-style-type: none;

	display: flex;
	justify-content: space-between;
	align-items: center;

	background-color: #F5F6F7;
	padding: 8px 14px;
	margin-bottom: 4px;

	&:hover {
		background-color: #EBEDEF;
	}
}

.coinInfo {
	display: flex;
}
 
.icon {
	width: 34px;
	margin-right: 12px;
}

.coinData {
	display: flex;
	flex-direction: column;
}

.symbol {
	font-weight: 600;
}

.checkMark {
	font-weight: 600;
	font-size: 22px;

	position: absolute;
	top: 22%;
	right: 16px;
}