
.LangSwitcher {
	display: flex;
	justify-content: center;
	align-items: center;

	font-weight: 800;
	font-size: 16px;
	color: var(--secondary-text-color);

	padding: 4px 8px;
	transition: opacity .2s linear;

	&:hover {
		cursor: pointer;
		opacity: .8;
	}
}

.languages {
	display: flex;
	align-items: center;
}

.icon {
	margin-right: 6px;
	fill: #fff;
	width: 21px;
	height: 21px;
}

.separator {
	height: 12px;
	width: 1px;
	background: gray;
	margin: 0 4px;
}

.language {
	padding: 0;
	line-height: 0.9;
	transition: color .3s linear;
}

.active {
	color: #fff;
}